.collextday01{width: 10.8rem;height: 1.68rem;background: #01a3ee}
.collectday02{
    width: 1.68rem;
    height: 1.68rem;line-height: 1.68rem;color: #ffffff;float: left;
}
body{background: #f4f4f4}
.collectday03{float:left;line-height:1.68rem;color:#fff}
.disniea{width: 10.33rem;height:  2.94rem;background: #ffffff;margin-top: .25rem;margin-left: .24rem;margin-right: .24rem
;border: 0.03rem solid #dadada;border-radius: 5% }
.divse11{width: 6.47rem ;height:  2.15rem;  ;margin-top: .38rem;margin-left: .5rem;text-align: left
;font-size: .5rem;float: left}
.sd0000{
    width: 3.3rem;height: 2.15rem;float: right;
}
.imgcs{width: 2.46rem;height: 2.15rem;margin-top: .38rem}