.iwna{
    width: 10.8rem;height: 100%;
}
.diwn{
    font-size: .69rem;float: right;margin-top: .5rem;
}
.dsaw1ewqe{font-size:.5rem;color: #ffffff;line-height: 1.68rem}
.div142rem{
    width: 10.8rem;height: 1.42rem;border-bottom: 0.01rem solid #dbdbdb;
}
.dw1nmic{
min-height:15.7rem;border-bottom: 0.02rem solid #dadada;
    background: url("../img/day1.png") no-repeat 3.68rem 8.24rem; background-size:3.45rem 4.61rem;
}
.sd988{display: block;font-size: .4rem;line-height: 1.42rem;text-align: left;margin-left: .5rem}

 body {
     background: #ffffff;
 }
 .sdw1ds11{width: 10.8rem;;background:#ffffff;border-bottom: 0.01rem solid #dedede;}
 .dadwi1dsadsadwadawdawdwa{width: 10.8rem;height: .90rem;padding-top: .54rem; }
 .dw00{width:.75rem;height:.75rem; border-radius:50%}
 .div7900{width: 7.9rem;height: .9rem;float: left;text-align: left}
 .dsadwdqdw{width: 1.2rem;height: .9rem;float: left;color: #bababa}
 .csawe{color: #bababa  }
 .daww11wd{width: 7.9rem;margin-left: 1.7rem;margin-right: 1.2rem;text-align: left}
 .daww11wdsadwad{width: 7.9rem;margin-left: 1.7rem;margin-right: 1.2rem;text-align: left;height: .88rem}
 .dsadw1dasmdihsa9fhaewbigsdhfsauer{width: 9.8rem;height: 1.04rem;text-align: left;padding-left: .5rem;
     line-height: 1.04rem;padding-right:.5rem ;border-bottom: 0.01rem solid #dadada}
 .wdspana{width: .36rem;height: .3rem;display: block;float: right;margin-top: .5rem;
 /*background:url("../img/day02.png") ;background-size: 100% 100%;*/
 }
#duanpingyun{display: none}
.div2158{width: 10.8rem;height: 21.58rem;position: fixed;
    top: 0.87rem;left: 0;background: rgba(0,0,0,0.7) ;z-index: 99}


