.day03{
    display: block;
    width: 10.8rem;
    height: .82rem;
}
.odiv{
    width: 10.8rem;height: 100%;
}
.odvi8{display: block;width: 10.8rem;height: 1.7rem;background: #00a2ed;position: fixed;left: 0;top:.82rem;
z-index: 3}
.inde{width: 2.2rem;height: 1.7rem;float: left;background: #00a2ed}
.indea{width: 1.03rem;height: 1.7rem;float: left;background: #00a2ed;font-size: .47rem;line-height: 1.7rem  ;color: #ffffff}
.div675{width: 10.8rem;height: 6.75rem;background:#f3f3f3}

.ant-carousel .slick-slide {
    text-align: center;
    height: 1.6rem;
    line-height: 1.6rem;
    background: #364d79;
    overflow: hidden;
}
.div234{width: 2.34rem;height: 1.7rem;float: right}
.ant-carousel .slick-slide h3 {
    color: #fff;
}
.dsaw{margin: 0 ;}
.cai{margin-top: .63rem;color: #ffffff}
.lis{margin-left: 1rem}
.div100{width: 10.8rem;height: 100%;background: #f3f3f3}
.div154{width: 10.8rem;height: 1.5rem;font-size: .4rem}
.dw1{display: block;line-height: 1.4rem;text-align: left;margin-left: .5rem}
.div1033297{width: 10.30rem;height: 2.97rem;margin-left: .25rem;margin-bottom: .2rem;background: #ffffff;border-radius: .2rem;border: .03rem solid #cfcfcf}
.div644216{width: 6.44rem;height: 2.16rem;;margin-left: .51rem;margin-top: .35rem;float: left;font-size: .5rem;
text-align: left}
.div248217{
    width: 2.48rem;height: 2.16rem;float: left;background: #0b97c4;margin-top: .35rem;
}
.daisdu{
    display: block;width: 2.48rem;height: 2.16rem;
}
.span446{display: block;width: 9.2rem;position: fixed;top: 4.46rem;color: #ffffff;text-align: left;margin-left: .5rem}

.apb{width: 9.16rem;height: 100%;background: #dadada;margin-top: .8rem;}
.div916333{width: 9.16rem;height: 3.33rem;background: #00a2ed;}
/*.my-drawer {*/
/*    position: fixed;*/
/*    top: 0;*/
/*    left: 0;*/
/*    -webkit-overflow-scrolling: touch;*/
/*}*/
.sadwdasdwskkkkkkkkk{
    display: block;float: left;
    width: 1.04rem;height: 1.03rem;background: url("../img/images/day02_03.png");border-radius: 50%;
}
.fonys{font-size: .45rem;color: #ffffff}
.adw11111{width:9.16rem;height: 2rem; }
.adw111112{width:44%;height: 2rem; ;float: left;margin-left: .46rem;line-height: 2rem;color: #ffffff}
.adw11111dsa{width:50%;height: 2rem;;float: left;line-height: 2rem;color: #ffffff }
.daw1d1sad{width:9.16rem;height: 1.32rem ;}
.dawd111{width: 9.16rem;height: 1.5rem;background: #f0f0f0;font-size: .5rem}
.divw1d22323{width: 2.9rem;height: 1.32rem;margin-left: .46rem;line-height: 1.32rem}
.sdawd1112{margin-left: .7rem}
.my-drawer .am-drawer-sidebar {
    background-color: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.my-drawer .am-drawer-sidebar .am-list {
    width: 300px;
    padding: 0;
}
.sdawccc{font-size:.5rem;color: #00a2ed;display: block;float: left;margin-left: .68rem;margin-top: .5rem}
.sdawccc111{font-size:.5rem;color: #00a2ed;display: block;float: left;margin-left: .68rem;margin-top: .5rem}