.dic1080{width: 10.8rem;height: 100%}
.day0312{display: block;
    width: 10.8rem;
    height: .82rem;position: fixed;top:0;left: 0;z-index: 83;
}
.div252{
    width: 10.8rem;height: 2.52rem;background: #00a2ed;
}
.zhanwei{  width: 10.8rem;height: 2.52rem;background: #00a2ed;display: block}
.zhanweiaaaa{  width: 10.8rem;height: 2.45rem;background: #00a2ed;display: block}
.div168{width: 10.8rem;height: 1.68rem;display: block;background: #00a2ed;position: fixed;top:.82rem;left: 0;z-index: 2}
/*.content-image{*/
/*    width: 9.6rem;height: 6.1rem;text-align: center;margin: 0 auto;*/
/*}*/
.imgs{width: 100%;height: 6.1rem;}
.ma60{margin: 0 .6rem;text-align: left;font-size: .5rem}
.avatar{width: .6rem;height: .63rem;border-radius: 50%}
.ospan{font-size: .62rem;color: #ffffff;position: absolute ;left: .46rem;top:6.36rem;text-align: left;z-index: 1}
.div122168{width: 1.22rem;height: 1.68rem;float: left;}
.div607{width: 6.07rem;height:1.68rem;float: right;margin-right: .48rem;color: #ffffff}
.div1512{width: 1.5rem;height: 1.68rem;float: left}
.diu{color: #ffffff;margin-top: .51rem}
.om{
    margin-top: .6rem;
}
.qunbu{
    width: 10.8rem;height: 22.44rem;background: rgba(0,0,0,.5);position: fixed;
    top: 0;left: 0;z-index: 45;display: none;
}
.div9361082{
    width: 9.36rem;height: 10.82rem;background: #ffffff;margin-top: 6.24rem;margin-left: .75rem;
}
.divx180{
    width: 8.61rem ;height: 1.8rem;background: #ffffff;font-size: .6rem;line-height: 1.8rem;text-align: left;padding-left: .75rem;
}
.div740802{width: 7.4rem;height: 8.02rem;background: #ffffff;margin-left: 1rem;}
.div740224{width: 7.4rem;height: 2.28rem;background: #fff}
.div169164{font-size: 1.64rem;color: #f13f19;text-align: center;display: block}
.div169164222{font-size: 1.64rem;color: #5ccb48;text-align: center;display: block}
.div169164222a{font-size: 1.64rem;color: #72cf29;text-align: center;display: block}
.sdiii{font-size: 1.64rem;color: #7f7f7f;text-align: center;display: block}
.locato{font-size: 1.64rem;color: #30a1ed;text-align: center;display: block}
.locatoqq{font-size: 1.64rem;color: #2369c8;text-align: center;display: block}
.closnw{width:2.46rem;height:2.24rem ;float: left;background: #ffffff ;color: #787878}
